.App {
 background-image: url(../public/back.gif);
 background-size: auto;
  text-align: center;
}

.App-header {
  color: white;
  padding-top: 1rem;
}

.App-header h1 {
  margin: 0;
}

main {
  padding: 20px;
}
